* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 14px;
    color: #363636;
}

.page {
    width: 780px;
    height: 270px;
    margin: auto;
}

.table-project-info {
    text-align: center;
    width: 100%;
    height: 100%;
}

.table-project-info td{
    margin: 0 5px;
    background-color: #f9f9f9;;
}

.table-project-info th {
    color: #057fcb;
    font-weight: bold;
    background-color: #bee7f9;
}

.table-project-info thead th {
    padding: 10px;
}

textarea {
    margin: 4px;
}